
.torrent-information-row .info-table {
		flex-basis: 60%;
	}

@media only screen and (max-width: 600px) 
{ 
	.torrent-information-row {
		flex-direction: column;
	}
	.torrent-information-row .info-table {
		flex-basis: 100%;
		width: 100%;
	}
}

@media only screen and (max-width: 445px) 
{ 
	.recent-title {
		padding-left: 10px !important; 
	}
}

@media only screen and (max-width: 510px) 
{ 
	.donation-line {
		width: 65%;
	}
}

.recent-torrents {
	width: 60%
}

@media only screen and (max-width: 1250px) 
{ 
	.recent-torrents {
		width: 68%
	}
}

@media only screen and (max-width: 1100px) 
{ 
	.recent-torrents {
		width: 75%
	}
}

@media only screen and (max-width: 800px) 
{ 
	.recent-torrents {
		width: 90%
	}
}

@media only screen and (max-width: 650px) 
{ 
	.recent-torrents {
		width: 100%
	}
}

.filter-control-border {
	top: -10px;
	padding-left: 40px;
}

@media only screen and (max-width: 530px) 
{ 
	.filter-control-row {
		flex-wrap: wrap;
		padding-top: 28px;
	}

	.filter-row {
		padding-top: 30px;
		align-items: inherit !important;
		flex-direction: column;
	}

	.filter-control-border {
		padding-top: 5px;
		top: 6px;
		padding-left: 0px;
	}
}

@media only screen and (max-width: 840px) 
{ 
	.header-row {
		flex-wrap: wrap;
		align-content: flex-start;
		justify-content: flex-start;
	}

	.search-panel {
		margin-left: inherit !important;
	}

	.header .header-row {
		min-height: 450px;
	}

	.header .clear-header-space {
		height: 450px;
	  }

	.search-panel {
		margin-top: 0px !important;
		padding-left: 6px; 
	}

	.search-row {
		min-width: 30em !important;
	}
}