/* FLEX */

.row, .column {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.wrap {
	flex-wrap: wrap;
}

.row.reverse {
	flex-direction: row-reverse;
}

.column {
	flex-direction: column;
}

.column.reverse {
	flex-direction: column-reverse;
}

.row.center,
.column.inline {
	justify-content: center;	
}

.column.center,
.row.inline {
	align-items: center;
}

.row.stretch,
.column.stretch {
	align-items: stretch;
}

.row.top,
.column.left {
	align-items: flex-start;
}
.row.bottom,
.colum.right {
	align-items: flex-end;
}

.row > .self-top {
	align-self: flex-end;
}
.row > .self-bottom {
	align-self: flex-end;
}

.column > .self-right {
	align-self: flex-end;
}
.column > .self-left {
	align-self: flex-start;
}

.self-center {
	align-self: center;
}

.self-stretch {
	align-self: stretch;
}

.row.space-between,
.column.space-between {
	justify-content: space-between;
}
.row.space-around,
.column.space-around {
	justify-content: space-around;
}


.ml-auto {
	margin-left: auto;
}

.mt-auto {
	margin-top: auto;
}

.jc-end {
	justify-content: flex-end;
}

.shrink0 {
	flex-shrink: 0;
}

.shrink1 {
	flex-shrink: 1;
}

.baseline {
	align-items: baseline;
}

/* поток */

.column.indent0-25 > *:not(:first-child):not(.ripple) {
	margin-top: 0.25em;
}
.column.indent0-5 > *:not(:first-child):not(.ripple) {
	margin-top: 0.5em;
}
.column.indent0-75 > *:not(:first-child):not(.ripple) {
	margin-top: 0.75em;
}
.column.indent1 > *:not(:first-child):not(.ripple) {
	margin-top: 1em;
}
.column.indent1-25 > *:not(:first-child):not(.ripple) {
	margin-top: 1.25em;
}
.column.indent1-5 > *:not(:first-child):not(.ripple) {
	margin-top: 1.5em;
}
.column.indent1-75 > *:not(:first-child):not(.ripple) {
	margin-top: 1.75em;
}
.column.indent2 > *:not(:first-child):not(.ripple) {
	margin-top: 2em;
}

/* строка с остступами */

.row.indent0-25 > *:not(:first-child):not(.ripple) {
	margin-left: 0.25em;
}
.row.indent0-5 > *:not(:first-child):not(.ripple) {
	margin-left: 0.5em;
}
.row.indent0-75 > *:not(:first-child):not(.ripple) {
	margin-left: 0.75em;
}

.row.indent1 > *:not(:first-child):not(.ripple) {
	margin-left: 1em;
}

.row.indent1-25 > *:not(:first-child):not(.ripple) {
	margin-left: 1.25em;
}
.row.indent1-5 > *:not(:first-child):not(.ripple) {
	margin-left: 1.5em;
}
.row.indent1-75 > *:not(:first-child):not(.ripple) {
	margin-left: 1.75em;
}
.row.indent2 > *:not(:first-child):not(.ripple) {
	margin-left: 2em;
}

.row.indent.wrap {
	flex-wrap: wrap;
}

.row.indent.wrap > * {
	margin: 0 0.5em;
}

/* размеры */

.row > .full-size, .column > .full-size {
	flex-basis: 100%;
}

.row.solid > *:not(.soft), .column.solid > *:not(.soft) {
	flex-shrink: 0;
	flex-grow: 0;
}