/* - - - - - - - - - - - - - 
	
	ПАЛИТРА
	
- - - - - - - - - - - - - */

.veil-black-dark-c {
	color: #303030;
	fill: #303030;
}

.veil-black-dark-b {
	background-color: #303030;
}

/* DARK BLUE */

.dark-blue-dark-c {
	color: #151b27;
	fill: #151b27;
}

.dark-blue-dark-b {
	background-color: #151b27;
}

/* ЧЁРНЫЙ */

.black-dark-c {
	color: rgba(0, 0, 0, 0.87);
	fill: rgba(0, 0, 0, 0.87);
}

[class*="-bright-b"] {
	color: rgba(0, 0, 0, 0.87);
	fill:rgba(0, 0, 0, 0.54);
}
[class*="-bright-b"] .sec-c {
	color: rgba(0, 0, 0, 0.54);
}
[class*="-bright-b"] .dis-c {
	color: rgba(0, 0, 0, 0.38);
	fill:rgba(0, 0, 0, 0.38);
}

[class*="-bright-b"] ::placeholder {
	color: rgba(0, 0, 0, 0.38);
}

[class*="-bright-b"] .icon svg {
	fill:rgba(0, 0, 0, 0.54);
}
[class*="-bright-b"] .dis-c .icon svg {
	fill:rgba(0, 0, 0, 0.38);
}

.black-dark-b {
	background-color: rgb(0, 0, 0);
}

/* БЕЛЫЙ */

.veil-white {
	background: rgba(255,255,255,0.7);
}

.white-bright-c {
	color: rgba(255,255,255,1);
	fill: rgba(255,255,255,1);
}

[class*="-dark-b"] {
	color: rgb(255,255,255);
	fill: rgb(255, 255, 255);
}
[class*="-dark-b"] .sec-c {
	color: rgba(255,255,255,0.70);
	fill: rgba(255,255,255,0.70);
}
[class*="-dark-b"] .dis-c {
	color: rgba(255,255,255,0.50);
	fill: rgba(255,255,255,0.50);
}

[class*="-dark-b"] ::placeholder {
	color: rgba(255,255,255,0.50);
}

[class*="-dark-b"] .icon svg {
	fill: rgb(255,255,255);
}
[class*="-dark-b"] .dis-c .icon svg {
	fill: rgba(255,255,255,0.50);
}

.white-bright-b {
	background-color: rgb(255,255,255);
}


/* RED */

.red-dark-c {
	color: #F44336;
	fill: #F44336;
}

.red-dark-b {
	background-color: #F44336;
}

.red-bright-c {
	color: #FF8A80;
	fill: #FF8A80;
}

.red-bright-b {
	background-color: #FF8A80;
}


/* PINK */

.pink-dark-c {
	color: #E91E63;
	fill: #E91E63;
}

.pink-dark-b {
	background-color: #E91E63;
}

.pink-bright-c {
	color: #FF80AB;
	fill: #FF80AB;
}

.pink-bright-b {
	background-color: #FF80AB;
}


/* PURPLE */

.purple-dark-c {
	color: #9C27B0;
	fill: #9C27B0;
}

.purple-dark-b {
	background-color: #9C27B0;
}

.purple-bright-c {
	color: #EA80FC;
	fill: #EA80FC;
}

.purple-bright-b {
	background-color: #E040FB;
}


/* DEEP PURPLE */

.dpurple-dark-c {
	color: #673AB7;
	fill: #673AB7;
}

.dpurple-dark-b {
	background-color: #673AB7;
}

.dpurple-bright-c {
	color: #B388FF;
	fill: #B388FF;
}

.dpurple-bright-b {
	background-color: #B388FF;
}


/* INDIGO */

.indigo-dark-c {
	color: #3F51B5;
	fill: #3F51B5;
}

.indigo-dark-b {
	background-color: #3F51B5;
}

.indigo-bright-c {
	color: #8C9EFF;
	fill: #8C9EFF;
}

.indigo-bright-b {
	background-color: #8C9EFF;
}


/* BLUE */

.blue-dark-c {
	color: #2196F3;
	fill: #2196F3;
}

.blue-dark-b {
	background-color: #2196F3;
}

.blue-bright-c {
	color: #82B1FF;
	fill: #82B1FF;
}

.blue-bright-b {
	background-color: #82B1FF;
}


/* LIGHT BLUE */

.lblue-dark-c {
	color: #039BE5;
	fill: #039BE5;
}

.lblue-dark-b {
	background-color: #039BE5;
}

.lblue-bright-c {
	color: #40C4FF;
	fill: #40C4FF;
}

.lblue-bright-b {
	background-color: #40C4FF;
}


/* CYAN */

.cyan-dark-c {
	color: #0097A7;
	fill: #0097A7;
}

.cyan-dark-b {
	background-color: #0097A7;
}

.cyan-bright-c {
	color: #18FFFF;
	fill: #18FFFF;
}

.cyan-bright-b {
	background-color: #18FFFF;
}


/* TYAL */

.teal-dark-c {
	color: #009688;
	fill: #009688;
}

.teal-dark-b {
	background-color: #009688;
}

.teal-bright-c {
	color: #64FFDA;
	fill: #64FFDA;
}

.teal-bright-b {
	background-color: #64FFDA;
}


/* GREEN */

.green-dark-c {
	color: #43A047;
	fill: #43A047;
}

.green-dark-b {
	background-color: #43A047;
}

.green-bright-c {
	color: #69F0AE;
	fill: #69F0AE;
}

.green-bright-b {
	background-color: #69F0AE;
}


/* LIGHT GREEN */

.lgreen-dark-c {
	color: #689F38;
	fill: #689F38;
}

.lgreen-dark-b {
	background-color: #689F38;
}

.lgreen-bright-c {
	color: #B2FF59;
	fill: #B2FF59;
}

.lgreen-bright-b {
	background-color: #B2FF59;
}


/* LIME */

.lime-dark-c {
	color: #827717;
	fill: #827717;
}

.lime-dark-b {
	background-color: #827717;
}

.lime-bright-c {
	color: #EEFF41;
	fill: #EEFF41;
}

.lime-bright-b {
	background-color: #EEFF41;
}


/* YELLOW */

.yellow-bright-c {
	color: #FFFF00;
	fill: #FFFF00;
}

.yellow-bright-b {
	background-color: #FFFF00;
}


/* AMBER */

.amber-bright-c {
	color: #FFD740;
	fill: #FFD740;
}

.amber-bright-b {
	background-color: #FFD740;
}


/* ORANGE */

.orange-dark-c {
	color: #EF6C00;
	fill: #EF6C00;
}

.orange-dark-b {
	background-color: #EF6C00;
}

.orange-bright-c {
	color: #FFAB40;
	fill: #FFAB40;
}

.orange-bright-b {
	background-color: #FFAB40;
}


/* DEEP ORANGE */

.dorange-dark-c {
	color: #FF5722;
	fill: #FF5722;
}

.dorange-dark-b {
	background-color: #FF5722;
}

.dorange-bright-c {
	color: #FF6E40;
	fill: #FF6E40;
}

.dorange-bright-b {
	background-color: #FF6E40;
}


/* BROWN */

.brown-dark-c {
	color: #795548;
	fill: #795548;
}

.brown-dark-b {
	background-color: #795548;
}


/* GREY */

.grey-dark-c {
	color: #757575;
	fill: #757575;
}

.grey-dark-b {
	background-color: #757575;
}

.grey-bright-c {
	color: #9E9E9E;
	fill: #9E9E9E;
}

.grey-bright-b {
	background-color: #9E9E9E;
}


/* BLUE GREY */

.bgrey-dark-c {
	color: #607D8B;
	fill: #607D8B;
}

.bgrey-dark-b {
	background-color: #607D8B;
}