image: Visual Studio 2017

platform:
  - x64

cache:
  - node_modules -> package.json
  - '%USERPROFILE%\.electron'

install:
  - ps: Install-Product node 8 x64
  - yarn

build_script:
  - yarn test

test: false
