{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": "last 2 Chrome versions",
          "node": "current"
        }
      }
    ],
    "@babel/react",
    ["@babel/stage-0", { "decoratorsLegacy": true }]
  ],
  "plugins": [
	["transform-class-properties"],
	["transform-react-jsx", { "pragma": "h" }],
  	["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
