{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": "last 2 Chrome versions",
          "node": "current"
        }
      }
    ],
    "@babel/react",
    "@babel/stage-0"
  ],
  "plugins": [
  	["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
