.header .header-row {
  min-height: 360px;
}

.header.sticky .header-row {
  min-height: 120px;
}

.header .clear-header-space {
  height: 360px;
}

.header.sticky .clear-header-space {
  height: 120px;
}

.header.sticky .header-main > div > div > div:nth-child(2) > div > div:nth-child(1) {
  display: none;
}