.header .header-row {
  min-height: 330px;
}

.header.sticky .header-row {
  min-height: 120px;
}

.header .clear-header-space {
  height: 330px;
}

.header.sticky .clear-header-space {
  height: 120px;
}

.header .header-main > div > div > div:nth-child(2) > div > div:nth-child(1) {
  transition: 0.5s;
}

.header.sticky .header-main > div > div > div:nth-child(2) > div > div:nth-child(1) {
  opacity:0;
}

.header .counter-statistic {
  transition: 0.5s;
}

.header.sticky .counter-statistic {
  opacity: 0;
  margin: 0 !important;
}

.header .search-panel {
  transition: 1s;
  margin-bottom: 180px;
}

.header.sticky .search-panel {
  margin-bottom: 0px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 6px;
  position: absolute;
  z-index: 3;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 0.9em;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}