.header .header-row {
  min-height: 330px;
}

.header.sticky .header-row {
  min-height: 120px;
}

.header .clear-header-space {
  height: 360px;
}

.header.sticky .clear-header-space {
  height: 120px;
}

.header .header-main > div > div > div:nth-child(2) > div > div:nth-child(1) {
  transition: 0.5s;
}

.header.sticky .header-main > div > div > div:nth-child(2) > div > div:nth-child(1) {
  opacity:0;
}

.header .counter-statistic {
  transition: 0.5s;
}

.header.sticky .counter-statistic {
  opacity: 0;
  margin: 0 !important;
}