
.torrent-information-row .info-table {
		flex-basis: 60%;
	}

@media only screen and (max-width: 600px) 
{ 
	.torrent-information-row {
		flex-direction: column;
	}
	.torrent-information-row .info-table {
		flex-basis: 100%;
		width: 100%;
	}
}

@media only screen and (max-width: 445px) 
{ 
	.recent-title {
		padding-left: 10px !important; 
	}
}

@media only screen and (max-width: 510px) 
{ 
	.donation-line {
		width: 65%;
	}
}

.recent-torrents {
	width: 60%
}

@media only screen and (max-width: 1250px) 
{ 
	.recent-torrents {
		width: 68%
	}
}

@media only screen and (max-width: 1100px) 
{ 
	.recent-torrents {
		width: 75%
	}
}

@media only screen and (max-width: 800px) 
{ 
	.recent-torrents {
		width: 90%
	}
}

@media only screen and (max-width: 650px) 
{ 
	.recent-torrents {
		width: 100%
	}
}
