jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        node_version:
          - 10
          - 12
          - 14
          - 15
        architecture:
          - x64
          - arm64
        # an extra windows-x86 run:
#        include:
#          - os: windows-latest
#            node_version: 15
#            architecture: arm64
#          - os: macos-latest
#            node_version: 15
#            architecture: arm64
    name: Node ${{ matrix.node_version }} - ${{ matrix.architecture }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}
          architecture: ${{ matrix.architecture }}
      - run: npm install
      - run: npm test
      - run: npm run build
      - uses: actions/upload-artifact@v2
        with:
          name: executable
          path: dist/
